<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAyzMm-E5Rufy3Ce6l2jQyhXhbwNzKUE9s</string>
	<key>GCM_SENDER_ID</key>
	<string>1070970578003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.syedsadiquh.c2g</string>
	<key>PROJECT_ID</key>
	<string>c2g-app-60622</string>
	<key>STORAGE_BUCKET</key>
	<string>c2g-app-60622.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070970578003:ios:b321f24cb53872cfd352a6</string>
</dict>
</plist>